<div class="container">
    <button mat-icon-button aria-label="keyboard_backspace" (click)="back()">
        <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>{{issue.title}}</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-8">
                    <h3><b>Description</b></h3>
                    <p>{{issue.description}}</p>
                    <h3><b>Due date</b></h3>
                    <p>{{issue.due_date}}</p>
                    <h3><b>Weight</b></h3>
                    <p>{{issue.weight}}</p>
                    <br />

                    <div>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Comments
                                </mat-panel-title>
                                <mat-panel-description>
                                    Click to expand/hide
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div *ngIf="comments != null && comments != undefined">
                                <mat-card *ngFor="let comment of comments; let i = index" style="margin: 0.5em;">
                                    <mat-card-header>
                                        <img mat-card-avatar src="assets/profile.png" alt="profile-image">
                                        <mat-card-title-group>
                                            <mat-card-title> {{comment.author.username}}
                                            </mat-card-title>
                                            <mat-card-subtitle> {{comment.postedAt}}
                                            </mat-card-subtitle>
                                        </mat-card-title-group>
                                    </mat-card-header>

                                    <mat-card-content>
                                        {{comment.content}}
                                    </mat-card-content>

                                    <mat-card-actions *ngIf="comment.author.id === user.id" allign="end">
                                        <button mat-icon-button (click)="updateComment(comment)">
                                            <mat-icon aria-label="Edit comment">edit</mat-icon>
                                        </button>

                                        <button mat-icon-button (click)="deleteComment(comment)">
                                            <mat-icon aria-label="Delete comment">delete</mat-icon>
                                        </button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </mat-expansion-panel>

                        <div>
                            <br>
                            <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">

                                <mat-form-field class="formField">
                                    <textarea matInput formControlName="content"
                                        placeholder="Leave a comment..."></textarea>
                                    <mat-error *ngIf="commentForm.controls['content'].hasError('content')">
                                        Comment content is required.
                                    </mat-error>
                                </mat-form-field>

                                <div class="form-group"><button type="submit" class="btn btn-success"
                                        [disabled]="!commentForm.valid">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-4">

                    <ng-container *ngIf=" issue.state === state.Open.toString()">
                        <h2><button mat-flat-button color="primary" (click)="closeIssue(issue)">Close issue</button>
                        </h2>
                    </ng-container>
                    <br />
                    <h2><b>Milestone</b>
                        <button *ngIf=" issue.milestone === null || issue.milestone === undefined" mat-icon-button
                            (click)="openAddMilestoneDialog(issue)">
                            <mat-icon aria-label="Add milestone">add</mat-icon>
                        </button>
                        <button *ngIf=" issue.milestone != null && issue.milestone != undefined" mat-icon-button
                            (click)="removeMilestone(issue.id, issue.milestone.id)">
                            <mat-icon aria-label="Remove milestone">delete</mat-icon>
                        </button>

                    </h2>
                    <h3>
                        <ng-container *ngIf=" issue.milestone != null && issue.milestone != undefined">
                            {{issue.milestone.name}}
                        </ng-container>
                    </h3>
                    <br />
                    <h2><b>Assignees</b>
                        <button mat-icon-button (click)="openAssignIssueDialog(issue)">
                            <mat-icon aria-label="Edit assignees">edit</mat-icon>
                        </button>
                    </h2>
                    <mat-list *ngIf=" issue.assignees != null && issue.assignees != undefined">
                        <mat-list-item *ngFor="let assignee of issue.assignees; let i = index">
                            {{assignee.username}}
                        </mat-list-item>
                    </mat-list>
                    <h2><b>Labels</b></h2>
                    <mat-chip-list class="inline-list" [selectable]="false" cdkDropListOrientation="horizontal">
                        <mat-chip [selectable]="false" [ngStyle]="{ backgroundColor: label.color }"
                            *ngFor="let label of issue.labels">
                            {{label.name}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</div>