<h1 mat-dialog-title>Edit assignees</h1>
<div class="dialog-content" mat-dialog-content>
    <div class="container">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <mat-form-field class="formField" appearance="fill">
                <mat-select formControlName="assignees" multiple>
                    <mat-option *ngFor="let collaborator of collaborators" [value]="collaborator.id">
                        {{collaborator.username}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onSubmit()" [disabled]="!form.valid">Submit</button>
    <button mat-button [mat-dialog-close]="null" cdkFocusInitial>
        Cancel
    </button>
</div>