<h1 mat-dialog-title>Update milestone</h1>
<div class="dialog-content" mat-dialog-content>
    <div class="container">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <mat-form-field class="formField">
                <mat-label>Title</mat-label>
                <input class="text-input" matInput type="text" formControlName="name" />
                <mat-error *ngIf="form.controls['name'].hasError('required')">
                    Milestone title is required.
                </mat-error>
                <mat-error *ngIf="form.controls['name'].hasError('minlength')">
                    Milestone title should contain at least 5 characters
                </mat-error>
            </mat-form-field>

            <mat-form-field class="formField">
                <mat-label>Description (Optional)</mat-label>
                <textarea cdkTextareaAutosize class="text-input" matInput formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field class="formField" appearance="fill">
                <mat-label>Due date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="serializedDate" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </form>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onSubmit()">Submit</button>
    <button mat-button [mat-dialog-close]="'canceled'" cdkFocusInitial>
        Cancel
    </button>
</div>