<div class="container">
  <div class="row">
    <div class="col-8">
      <button mat-icon-button aria-label="keyboard_backspace" (click)="back()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Refresh branch list"
        (click)="refreshTable()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      <table mat-table [dataSource]="dataSource">
        <!-- name Column -->
        <ng-container matColumnDef="name" class="table-row">
          <th mat-header-cell *matHeaderCellDef>Branch Name</th>
          <td mat-cell *matCellDef="let element">
            <a
              mat-button
              (click)="viewCommits(element.repo.name, element.name)"
              >{{ element.name }}</a
            >
          </td>
        </ng-container>

        <!-- last commit Column -->
        <ng-container matColumnDef="last_commit" class="table-row">
          <th mat-header-cell *matHeaderCellDef>Last Commit</th>
          <td mat-cell *matCellDef="let element">
            <a
              mat-button
              (click)="
                goToGithubBranch(element.repo.url + '/tree/' + element.name)
              "
              ><b>{{
                element.last_commit.hash.substr(
                  element.last_commit.hash.length - 7
                )
              }}</b></a
            >
            {{ element.last_commit.timestamp }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action" class="table-row">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="Action"
              (click)="viewForm(element.id)"
            >
              <mat-icon>settings</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <div class="col-4">
      <h2>Repository name</h2>
      <h3>{{ repo_obj.name }}</h3>
      <br />
      <h2>About</h2>
      <h4>{{ repo_obj.description }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="readme-header">
        <h3>Readme</h3>
      </div>
      <markdown
        class="markdown"
        [data]="repo_obj.readme"
        (ready)="onReady()"
      ></markdown>
    </div>
  </div>
</div>
