<h1 mat-dialog-title>Update repo</h1>
<div class="dialog-content" mat-dialog-content>
  <div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="updateRepoForm">
      <mat-form-field class="formField">
        <mat-label>Name</mat-label>
        <input class="text-input" matInput type="text" formControlName="name" />
        <mat-error *ngIf="updateRepoForm.controls['name'].hasError('required')">
          Repo name is required.
        </mat-error>
        <mat-error
          *ngIf="updateRepoForm.controls['name'].hasError('minlength')"
        >
          Repo name should contain at least 5 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="formField">
        <mat-label>Description (Optional)</mat-label>
        <textarea
          cdkTextareaAutosize
          class="text-input"
          matInput
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <div class="checkox-field">
        <mat-checkbox
          [checked]="data.is_private"
          (change)="checkPrivate($event)"
          >Private</mat-checkbox
        >
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onSubmit()">Update</button>
  <button mat-button [mat-dialog-close]="'canceled'" cdkFocusInitial>
    Cancel
  </button>
</div>
